Source: pijuice-base
Maintainer: Milan Neskovic <milan@pi-supply.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 9), dh-systemd (>= 1.5), i2c-tools, python-smbus
Standards-Version: 3.9.6

Package: pijuice-base
Architecture: all
Depends: python (>= 2.6), i2c-tools, python-smbus, python-urwid
Conflicts: pijuice
Description: Basic support for Pi-Supply's PiJuice HAT
 This package contains the following python scripts:
 * The low level interface (pijuice.py)
 * The supporting service (pijuice_sys.py)
 * and the command line interface (pijuice_cli.py)
 .
 The dekstop applications are in the pijuice-gui package which depends on this one.
