[Unit]
Description=PiJuice status service
Requires=dev-i2c\x2d1.device
After=dev-i2c\x2d1.device

[Service]
Type=idle
User=pijuice
WorkingDirectory=/var/lib/pijuice/
ExecStart=/usr/bin/pijuice_sys.py
ExecStopPost=/usr/bin/pijuice_sys.py stop
Restart=always

[Install]
WantedBy=multi-user.target
