[Unit]
Description=PiJuice system daemon
After=network.target

[Service]
Type=idle
User=pijuice
WorkingDirectory=/var/lib/pijuice/
ExecStart=/usr/bin/pijuice_sys daemon
Restart=always

[Install]
WantedBy=multi-user.target
