#!/usr/bin/make -f

export PYBUILD_NAME=pijuice-base
%:
	dh $@ --with python3 --with systemd --buildsystem=pybuild

override_dh_installinit:
	dh_systemd_enable -p pijuice-base --name=pijuice pijuice.service
	dh_installinit -p pijuice-base --no-start --noscripts
	dh_systemd_start -p pijuice-base --no-restart-on-upgrade

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
