Source: pijuice
Maintainer: Milan Neskovic <milan@pi-supply.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 9), dh-systemd (>= 1.5), i2c-tools, python-smbus
Standards-Version: 3.9.1

Package: pijuice
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Packaging a PiJuice Python script as DEB

