[Desktop Entry]
Version=1.3.2
Type=Application
Name=PiJuice Settings
Exec=/usr/bin/pijuice_gui.py
Icon=/usr/share/pijuice/data/images/pijuice.png
Terminal=false
Categories=Settings;GTK;
Comment=Configuration of PiJuice
