#wrapper {
width: 100%;
float: left;
clear: left;
margin-top: 50px;
}

.block {
width: auto;
align-content: center;
display: inline-block;
}

#dht22 {
width: 100%;
float: left;
clear: left;
margin-top: 50px;
}

.gauge {
     width: auto;
     height: 300px;
     display: inline-block;
     border: 1px solid #ccc;
     margin: 5px;
 }

 #pijuice {
 width: 100%;
 float: left;
 clear: left;
 margin-top: 50px;
 }
