[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Point-Shoot-Cam
Exec=lxterminal -e python /home/pi/PiJuice/MakerKits/Point-shoot-cam/point-shoo$
Path=/home/pi/PiJuice/MakerKits/Point-shoot-cam/
StartupNotify=true
Categories=Utility
