Package: python-pijuice
Source: pijuice
Version: 1.0-1
Architecture: all
Maintainer: Milan Neskovic <milan@pi-supply.com>
Installed-Size: 345
Depends: python (>= 2.7), python (<< 2.8)
Section: python
Priority: optional
Description: Packaging a PiJuice Python script as DEB
